@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap);
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none !important;
  list-style: none !important;
  letter-spacing: normal;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.slideIn {
  animation-name: slideIn;
}

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.form__section__label {
  font-size: 0.938rem;
  font-weight: 600;
}

.is-invalid {
  border: 1px solid red !important;
}

.custom__field__message {
  font-size: 0.75rem;
  font-weight: 600;
}

.custom__text__input {
  border-radius: 0.625rem;
  font-size: 0.938rem;
  border: 1px solid #ced4da;
}
.custom__text__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
}

.btn__form__submit {
  border-radius: 0.625rem;
  padding: 0.6rem 1rem;
  border: 0;
  font-size: 0.875rem;
  background-color: #1A1E33;
  color: #FFFFFF;
}
.btn__form__submit:hover {
  color: #FFFFFF;
}
.btn__form__submit:focus {
  color: #FFFFFF !important;
}

.custom__text__input.custom__select {
  font-size: 0.938rem;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.custom__text__input__label {
  font-size: 0.813rem;
}

.form-floating label {
  top: 4px;
}

body {
  background-color: #F8F9FA;
}

.file__input__field {
  padding: 9px 16px;
  border-radius: 0.625rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07) !important;
  font-size: 0.813rem;
}
.file__input__field:active {
  box-shadow: none;
}

.text__input__field {
  padding: 9px 16px;
  border-radius: 0.625rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07) !important;
  font-size: 0.813rem;
  font-weight: 500;
}

.input__form__label {
  color: #4a5568;
  font-size: 0.813rem;
  font-weight: 500;
}

.form-check-label {
  font-size: 0.875rem;
}

.form-check-input {
  height: 13px !important;
  width: 13px !important;
  margin-top: 6px;
  border-radius: 3.125rem !important;
}

.btn__submit {
  background-color: #1F2937;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
  color: #FFFFFF;
  padding: 9px 18px;
  font-size: 0.75rem;
  border-radius: 0.625rem;
  text-transform: uppercase;
  font-weight: 500 !important;
}
.btn__submit:focus {
  background-color: #1F2937 !important;
  color: #FFFFFF !important;
  border-color: #F8F9FA !important;
}
.btn__submit:hover {
  background-color: #1F2937;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
  color: #FFFFFF;
}

.custom__modal .modal-content {
  padding: 25px;
}
.custom__modal .modal-content .modal-header {
  border: 0;
  padding: 0 0 10px 0;
}
.custom__modal .modal-content .modal-body {
  padding: 0;
}
.custom__modal .modal-content .modal-footer {
  border: 0;
  padding: 0;
}
.custom__modal .modal-content .btn-close {
  font-size: 0.688rem;
}
.custom__modal .modal-content .btn-close:focus {
  box-shadow: none;
}
.custom__modal .modal-content .modal-title {
  font-size: 0.938rem;
}
.custom__modal .modal-content .modal__button {
  font-size: 0.875rem;
  border-radius: 0.625rem;
  padding: 0.6rem 1rem;
  border: 0;
  width: 80px;
}
.custom__modal .modal-content .modal__button.btn__modal__submit {
  color: #FFFFFF;
  background-color: #1A1E33;
}

.modal__btnsubmit__bottom {
  background-color: #1F2937;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
  color: #FFFFFF;
}
.modal__btnsubmit__bottom:focus {
  background-color: #1F2937 !important;
  color: #FFFFFF !important;
}
.modal__btnsubmit__bottom:hover {
  background-color: #1F2937;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
  color: #FFFFFF;
}

.modal__btnclose__bottom {
  background-color: #E9ECEF;
}
.modal__btnclose__bottom:active {
  outline: none !important;
  border-color: transparent;
}

.btn__cancel {
  background-color: #E9ECEF;
  padding: 9px 18px;
  font-size: 0.75rem;
  border-radius: 0.625rem;
  text-transform: uppercase;
  font-weight: 500 !important;
}
.btn__cancel:hover {
  background-color: #E9ECEF;
}
.btn__cancel:active {
  outline: none !important;
  border-color: transparent;
}
.btn__cancel:focus {
  border-color: #F8F9FA !important;
}

.modal__footer__button {
  padding: 9px 18px;
  font-size: 0.75rem;
  border-radius: 0.625rem;
  text-transform: uppercase;
  font-weight: 500 !important;
}
.modal__footer__button:focus {
  border-color: #F8F9FA !important;
}

.page__header__back__button:focus {
  border-color: #F8F9FA !important;
}

.form__errors {
  padding: 8px 16px;
  background-color: #EAEBEF;
  color: #721c24;
  font-size: 0.813rem;
  border-radius: 0.625rem;
}

.initial__as__profile__picture {
  position: relative;
  height: 43px;
  width: 43px;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #24695C;
  padding: 0 !important;
}
.initial__as__profile__picture .name__initial {
  font-size: 0.813rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 2px;
  letter-spacing: 1px;
}

.initial__as__profile__picture__sm {
  position: relative;
  height: 43px;
  width: 43px;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #24695C;
  padding: 0 !important;
  height: 20px !important;
  width: 20px !important;
  border: 1px solid #FFFFFF;
  margin-right: -8px;
}
.initial__as__profile__picture__sm .name__initial__sm {
  font-size: 0.813rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 2px;
  letter-spacing: 1px;
  font-size: 7px !important;
}

.custom__card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: none !important;
  padding: 25px !important;
}
.custom__card .card__title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.custom__card .card-body {
  padding: 0;
}
.custom__card .card-body .card__label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 6px;
}
.custom__card .card-body .card__count {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.custom__card .card-body .card__icon__container {
  width: 40px;
  height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  justify-content: center;
  background-position: 50%;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !important;
}
.custom__card .card-body .card__icon__container i {
  font-size: 1.125rem;
}
.custom__card .card-body .card__icon__container__pictured {
  background-image: linear-gradient(310deg, #304B81, #1792B4);
}
.custom__card .card-body .card__icon__container__printing {
  background-image: linear-gradient(310deg, #ea0606, #ff667c);
}
.custom__card .card-body .card__icon__container__delivered {
  background-image: linear-gradient(310deg, #2152ff, #21d4fd);
}
.custom__card .card-body .card__icon__container__received {
  background-image: linear-gradient(310deg, #f53939, #fbcf33);
}

.form__button {
  font-size: 0.875rem;
  border-radius: 0.625rem;
  padding: 0.6rem 1rem;
  border: 0;
  width: 100px;
  text-align: center;
}
.form__button.form__btn__cancel {
  color: #1A1E33;
  background-color: #F2F2F2;
}
.form__button.form__btn__submit {
  color: #FFFFFF;
  background-color: #1A1E33;
}

.form-text {
  font-size: 0.688rem;
}

.toast__message__container {
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin-left: 20px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 40;
  border: none;
  color: #FFFFFF;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
}

.toast__message__content i {
  color: #1f2937;
}

.toast__message {
  font-size: 0.813rem;
  color: #1f2937;
}

.btn__close__toast__message {
  font-size: 20px;
  color: #67799f !important;
  height: 20px;
  width: 20px;
}
.btn__close__toast__message:active {
  box-shadow: none;
}

.custom__alert__message {
  background-color: rgba(241, 243, 244, 0.871);
  border: 1px solid #e6edef;
  font-size: 0.875rem;
  color: #5f6368;
  padding: 14px 16px;
  text-align: center;
}

.txt__search {
  padding: 12px 19px;
  border-radius: 0.625rem;
  outline: none;
  border: 1px solid #e6edef;
  font-size: 0.813rem;
}
.txt__search:focus {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
  border-radius: 50px;
}

.txt__search__header {
  padding: 12px 19px;
  border-radius: 0.625rem;
  outline: none;
  font-size: 13px;
  border: 0.08rem solid #d1d3d3 !important;
}

.search__button__header {
  height: 30px;
  width: 30px;
  right: 24px;
  top: 49%;
  transform: translateY(-50%);
  border-radius: 0.625rem;
}

.dropdown-menu {
  position: absolute;
  padding: 0.35rem;
  top: 60px;
  right: 0px;
  left: auto;
  background: #FFFFFF;
  border: 1px solid #e6edef;
  z-index: 3;
  border-radius: 0.5rem;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.dropdown__menu__items {
  padding: 0.3rem 1rem;
}
.dropdown__menu__items i {
  color: #181C2F;
  font-size: 0.813rem;
}
.dropdown__menu__items .dropdown__menu__label__action {
  font-size: 0.813rem;
}

.dropdown__menu__item__label {
  font-size: 0.813rem;
  font-weight: 500;
  color: #1f2937;
}

.list__dropdown__menu {
  border: none;
  height: 32px;
  width: 32px;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
}
.list__dropdown__menu:focus {
  border: none;
  transition: 0.3s;
}
.list__dropdown__menu:active {
  border: none;
  transition: 0.3s;
}
.list__dropdown__menu:hover {
  background-color: #e9ecef;
}
.list__dropdown__menu i {
  color: #999999;
  font-size: 0.938rem;
}

.app__button {
  border-radius: 0.563rem;
}
.app__button:hover {
  transform: scale(1.02);
}

a {
  color: #24695c;
}
a:hover {
  color: #123831;
}

.dropdown-toggle::after {
  content: none;
}

.page__wrapper {
  position: relative;
}
.page__wrapper .page__body__wrapper {
  background: #F8F9FA;
}
.page__wrapper .page__body__wrapper .page__body {
  min-height: calc(100vh - 76px);
  margin-top: 76px;
  margin-bottom: 35px;
  padding: 0 15px 0 15px;
  position: relative;
}
.page__wrapper .page__body__wrapper .page__body .page__header {
  margin-bottom: 30px;
}
.page__wrapper .page__body__wrapper .page__body .page__header .page__header__title {
  font-size: 0.938rem !important;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 0 !important;
}
.page__wrapper .page__body__wrapper .page__body .page__header .page__header__title .page__name {
  font-size: 0.875rem;
}
.page__wrapper .page__body__wrapper .page__body .page__header .breadcrumb {
  font-size: 0.688rem;
}
.page__wrapper .page__main__header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
  border-bottom: 1px solid #e6edef;
  padding: 0.8rem 0 0.8rem 0;
}

.page__wrapper.compact__wrapper .page__body__wrapper .page__body {
  padding-top: 30px;
  margin-left: 293px;
}

.dropdown .nav-link {
  padding: 3px 9px;
}

.page__main__header .navbar__logo {
  height: 40px;
  width: 40px;
}
.page__main__header .nav-link i {
  font-size: 0.75rem;
  color: #262B4A;
}
.page__main__header .nav-item {
  padding: 6px;
}
.page__main__header .nav-item:hover {
  cursor: pointer;
}
.page__main__header .nav-item.more__menu {
  display: none;
}

.sidebar__buttons {
  font-size: 0.875rem;
  color: #1F2937 !important;
  padding: 5px 10px;
  margin-bottom: 3px;
  border-radius: 0.563rem;
  text-transform: capitalize;
  line-height: 2.4rem;
  font-weight: 500;
  gap: 16px;
}
.sidebar__buttons:hover {
  background-color: #F8F9FA;
}

.sidebar__btn__active {
  background-color: #FFFFFF;
  color: #24695c;
  font-weight: 700 !important;
}
.sidebar__btn__active:hover {
  color: black;
}

.sidebar__button__icon__container {
  height: 35px;
  width: 35px;
  border-radius: 0.563rem;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
  background-color: #FFFFFF;
}
.sidebar__button__icon__container i {
  color: #181C2F;
  font-size: 0.875rem;
}

.sidebar__btn__active.active {
  color: #31316A;
  font-weight: 600;
}
.sidebar__btn__active.active > .sidebar__button__icon__container {
  background-image: linear-gradient(310deg, #141727, #3a416f);
  animation: fadeIn 0.7s;
  height: 35px;
  width: 35px;
}
.sidebar__btn__active.active > .sidebar__button__icon__container i {
  color: #FFFFFF;
  font-size: 0.875rem;
}

.sidebar__collapse__ul {
  border-left: 0.08rem solid #d1d3d3;
  margin-left: 27px;
  padding: 7px 15px;
  align-items: center;
  justify-content: space-between;
}

.sidebar__collapse__btnlink {
  padding: 8px 11px 8px 18px;
  border-radius: 0.563rem;
}
.sidebar__collapse__btnlink:hover {
  background-color: #F8F9FA;
}
.sidebar__collapse__btnlink .sidebar__btn__link__name {
  color: #24695c;
  font-size: 0.813rem;
}

.sidebar__collapse__btnlink__active {
  font-weight: 600;
}

.sidebar__active__dot {
  height: 10px;
  width: 10px;
  left: -1.22rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  border: 0.11rem solid #d1d3d3;
}

.sidebar {
  background: #FFFFFF;
  position: fixed;
  top: 72px;
  left: 0;
  z-index: 90;
  width: 290px;
  height: 100%;
  padding: 20px 0;
  overflow-y: auto;
  text-align: left;
  line-height: inherit;
  border-right: 1px solid #e6edef;
  box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
}
.sidebar .sidebar__user {
  padding: 0px 20px 20px 20px;
  position: relative;
  border-bottom: 0.08rem solid #e6edef;
  margin: 10px 0 20px 0;
}
.sidebar .sidebar__user .sidebar__userfullname {
  font-size: 0.875rem;
}
.sidebar .sidebar__user .sidebar__userdepartment {
  color: #999;
  font-size: 0.75rem;
  margin-bottom: 0;
}
.sidebar .sidebar__user .sidebar__badge__bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 60px;
}
.sidebar .sidebar__user .sidebar__badge__bottom .user__role__badge {
  padding: 4px 6px 3px;
  box-shadow: 0px 7px 10px rgba(36, 105, 92, 0.3);
  font-family: "Roboto", sans-serif;
  background: #24695c;
}
.sidebar .sidebar__user p {
  color: #999;
  font-size: 0.813rem;
}
.sidebar .sidebar__userimage {
  border: 6px solid rgba(36, 105, 92, 0.2);
  height: 90px;
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar.close {
  margin-left: 0;
  transition: all 0.5s ease;
}

.table:not(caption) > * > * {
  border: 0px;
}
.table thead th {
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0;
  border-bottom: 1px solid #e9ecef;
}
.table td {
  white-space: nowrap;
}
.table th {
  white-space: nowrap;
}
.table tbody tr {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #e9ecef;
}
.table tbody .tb__data {
  font-size: 0.813rem;
}

.dashboard .hover__card {
  transition: all 0.3s;
}
.dashboard .hover__card:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.dashboard .card {
  overflow: hidden;
  border-radius: 0.625rem;
  margin-bottom: 20px;
  border: 1px solid #e6edef;
  background-color: #fff;
  padding: 15px;
}
.dashboard .card p {
  font-size: 0.75rem;
  color: #717171;
  font-weight: 400;
  text-transform: capitalize;
}
.dashboard .dboard__ticket__header h5.card__title {
  font-size: 0.875rem;
  margin-bottom: 0;
  font-weight: 600;
  color: #3C4565;
}
.dashboard .dboard__ticket__header .btn__view__tickets {
  background-color: #1F2937;
  font-weight: 500;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07);
  color: #FFFFFF;
  padding: 7px 14px;
  font-size: 0.75rem;
}
.dashboard .dboard__ticket__header .btn__view__tickets i {
  margin-left: 5px;
}
.dashboard .dboard__ticket__header .num__outof_num {
  font-size: 0.75rem;
}
.dashboard .custom__table {
  font-size: 0.875rem;
}
.dashboard .custom__table tbody tr td span {
  font-size: 0.75rem;
  color: #717171;
}
.dashboard .custom__table .table__head__label {
  letter-spacing: 0.01rem;
  font-weight: 600;
  font-size: 0.813rem;
}
.dashboard .custom__table .media {
  padding: 10px 20px;
}
.dashboard .custom__table .media .user__name {
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: -0.3rem;
  color: #1a3c40;
}

.transactions .custom__card .card-header {
  padding: 1.5rem;
}
.transactions .custom__card .card-header:first-child {
  border-radius: 0.625rem 0.625rem 0 0;
  background-color: #FFFFFF;
}

.table.align-items-center td {
  vertical-align: middle;
}
.table.align-items-center th {
  vertical-align: middle;
}

.custom__table__header {
  margin-bottom: 0 !important;
  font-size: 0.75rem;
  font-weight: 700;
}

.create__id .hover__card {
  transition: all 0.3s;
}
.create__id .hover__card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.id__container {
  background-color: #E9E0E1;
  padding: 0.4rem;
}

.student__id__card__template {
  width: 350px;
  height: 480px;
  margin-bottom: 0 !important;
  border: 0.09rem solid #1A1E33 !important;
}
.student__id__card__template max {
  height: 460px;
  width: 350px;
}
.student__id__card__template min {
  height: 560px;
  width: 350px;
}

.student__id__card__header {
  padding: 1.5rem 1.3rem 1.3rem 1.3rem;
}
.student__id__card__header .id__school__logo {
  height: 3rem;
  width: 3rem;
}
.student__id__card__header .id__school__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
}
.student__id__card__header .id__school__address {
  line-height: 1rem;
}

.student__id__card__back {
  padding: 1.5rem 1.3rem 1.3rem 1.3rem;
  display: flex;
  flex-direction: column;
  max-height: 460px;
}
.student__id__card__back .id__back__field__label {
  margin-bottom: 0;
}
.student__id__card__back .id__back__field {
  margin-bottom: 0;
  padding: 3px 8px 3px 8px;
  border-bottom: 0.1rem solid #000;
  width: 235px;
}
.student__id__card__back .id__back__birthdate .id__back__birthdate__field {
  font-weight: 600;
  font-size: 0.813rem;
  margin-top: 6px;
}
.student__id__card__back .signature__icon__container {
  height: 27px;
  width: 27px;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}
.student__id__card__back .signature__icon__container:hover {
  cursor: pointer;
  background-color: #1A8BAF;
  color: white;
}
.student__id__card__back .guardian__info {
  border-radius: 0.625rem;
  background-color: #F1F1F1;
  padding: 15px 10px;
}
.student__id__card__back .guardian__info .guardian__info__header {
  font-size: 0.813rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.student__id__card__back .guardian__info .guardian__name {
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.student__id__card__back .guardian__info .guardian__address {
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.student__id__card__back .guardian__info .guardian__contact {
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.student__id__card__back .student__id__note {
  font-size: 0.75rem;
  background-color: #EDE3CE;
  border-radius: 0.625rem;
  padding: 15px 10px;
}

.student__id__qrcode {
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: 95px;
  width: 95px;
}
.student__id__qrcode .student__id {
  font-size: 0.75rem;
  font-weight: 600;
}

.student__id__picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: 130px;
  width: 119px;
}
.student__id__picture .id__picture {
  height: 90%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.student__id__qr__and__picture {
  background-color: #F1F1F1;
  padding: 1rem 1rem 2rem 1rem;
}
.student__id__qr__and__picture .id__qrcode {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.student__id__information {
  text-align: center;
  margin-top: -1.4rem;
}
.student__id__information .id__full__name {
  background-color: #1A1E33;
  padding: 0.6rem;
  color: #FFFFFF;
  font-weight: 700;
}
.student__id__information .id__user__type {
  font-size: 0.813rem !important;
}
.student__id__information .id__course__label {
  font-size: 0.813rem !important;
}
.student__id__information .id__college__name {
  font-size: 0.875rem;
  font-weight: 600;
}
.student__id__information .id__address {
  font-size: 0.813rem;
}

.btn__take__photo {
  padding: 0.7rem 1rem;
  color: #212529;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #FAC133 !important;
  border: none !important;
  border-radius: 0.625rem;
}
.btn__take__photo:hover {
  color: #212529;
}

.photo__modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.photo__modal .btn__toggle__on__of__camera {
  font-size: 0.875rem;
  color: #1A1E33;
  background-color: #E5E5E5;
  border-radius: 0.625rem;
}

.signature__modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.signature-modal-content {
  width: 40% !important;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 0.625rem;
}
.signature-modal-content .signature__pad {
  border: 2px dashed #888;
  border-radius: 4px;
}

.photo-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 0.625rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.administrator .card__icon__container {
  width: 35px;
  height: 35px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  justify-content: center;
  background-position: 50%;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !important;
  background-image: linear-gradient(310deg, #ea0606, #ff667c);
}
.administrator .card__icon__container i {
  font-size: 1.125rem;
}
.administrator .custom__card .card-header {
  padding: 1.5rem;
}
.administrator .custom__card .card-header:first-child {
  border-radius: 0.625rem 0.625rem 0 0;
  background-color: #FFFFFF;
}
.administrator .tab {
  border-bottom: 1px solid #D3E1DE;
}
.administrator .tab .nav-link {
  font-size: 0.813rem;
  color: #606060;
  padding: 2px 0px 6px 0px;
}
.administrator .tab .nav-link i {
  font-size: 0.75rem;
}
.administrator .tab .nav-link.active {
  font-weight: 500;
  border-bottom: 2px solid #242945;
  color: #242945;
}
.administrator .btn__add__education {
  background-color: #1A1E33;
  border-radius: 0.625rem;
  font-size: 0.875rem;
  color: white;
}
.administrator .education__card .education__name {
  font-size: 0.875rem;
}
.administrator .education__card .education__btn__action {
  font-size: 0.75rem;
  height: 27px;
  width: 27px;
  border-radius: 3.125rem;
  border: 0;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.administrator .education__card .education__btn__action:hover {
  background-color: #FFFFFF;
}
.administrator .education__card .btn__action__container {
  display: none !important;
  right: 18px;
  background-color: #F1F1F1;
  border-radius: 3.125rem;
  padding: 4px;
}
.administrator .education__card:hover .btn__action__container {
  display: block !important;
}
.administrator .school__card .card__icon__container .school__logo {
  height: 43px;
  width: 43px;
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadows-sm);
  -o-object-fit: cover;
     object-fit: cover;
}
.administrator .school__card .card__badge {
  color: #606060;
}
.administrator .school__card .card__badge i {
  color: #F7414E;
  font-size: 0.75rem;
}
.administrator .school__card .school__details .school__name {
  font-size: 0.938rem;
  color: #212529;
  font-weight: 600;
}
.administrator .school__card .school__details .school__address {
  font-size: 0.75rem;
  line-height: 1.4;
}
.administrator .school__card .btn__action__container {
  display: none !important;
  right: 18px;
  background-color: #F1F1F1;
  border-radius: 3.125rem;
  padding: 4px;
}
.administrator .school__card:hover .btn__action__container {
  display: block !important;
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (max-width: 990px) {
  .page__main__header .nav-item.more__menu {
    display: block;
  }
  .sidebar {
    margin-left: -20rem;
  }
  .page__wrapper .page__body__wrapper .page__body {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 420px) {
  .page__main__header .show__in__420px {
    display: flex !important;
  }
  .page__main__header .hide__in__420px {
    display: none !important;
  }
}
